$nav-padding: 1em

.heh
  text-align: center
  list-style: none
  padding-left: 0

.gatha
  .translation+.line
    margin: 1em
    padding: 0
    text-align: center
    /*1.5ex
    .mark
      margin: 0
      padding: 0
      display: inline-block
      vertical-align: middle
      width: 100px
      height: 2px
      background: linear-gradient(to right, lightgray, gray, lightgray)

  /*.translation+.translation:before
    content: ' '
    display: block
    padding: 0
  .translation
    $play-button-size: 25px
    
    white-space: pre-line
    text-align: center
    .text
      display: inline-block
      position: relative
      max-width: 450px
      .play-button
        audio
          display: none
        position: absolute
        cursor: pointer
        left: -30px
        top: 5px
        width:  $play-button-size
        height: $play-button-size
        img
          width:  $play-button-size
          height: $play-button-size
        &:hover
          background: lightgray
        /*a
          &:hover
            background: none


.Gatha .vagga

  h2, h3
    text-align: center

  h3 > a
    padding-right: $nav-padding
    padding-left: $nav-padding

  .prev
    /* yes, I need to to use a.prev instead
    display: inline
    a
      padding-right: $nav-padding
      padding-left: $nav-padding
  .next
    display: inline
    a
      padding-right: $nav-padding
      padding-left: $nav-padding

  .gatha
    .center
      text-align: center
    .shadow
      display: inline-block
      box-shadow: inset 0 0 20px 25px white
    img.illustration
      z-index: -1
      position: relative

  $button-size: 30px
  /*.text
    display: inline
  .button
    cursor: default
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    box-sizing: border-box
    -moz-box-sizing: border-box
    &:hover
      border-width: 2px
      border-color: green
    &:active
      background-color: lightgray
    border-radius: 10px
    font-size: 150%
    color: green
    /*float: right
    position: absolute
    /*visibility: hidden
    /*display: none
    /*block
    border: solid 1px gray
    width: $button-size
    height: $button-size
    line-height: $button-size
    text-align: center
  .hili
    text-decoration: underline
    /*font-weight: bold
