$nav-padding: 1em

.gatha
  .translation
    white-space: pre-line
    text-align: center

.Gatha .vagga
  h2, h3
    text-align: center

  h3 > a
    padding-right: $nav-padding
    padding-left: $nav-padding

  .prev
    /* yes, I need to to use a.prev instead
    display: inline
    a
      padding-right: $nav-padding
      padding-left: $nav-padding
  .next
    display: inline
    a
      padding-right: $nav-padding
      padding-left: $nav-padding

  .gatha
    .center
      text-align: center
    .shadow
      display: inline-block
      box-shadow: inset 0 0 20px 25px white
    img.illustration
      z-index: -1
      position: relative

  $button-size: 30px
  /*.text
    display: inline
  .button
    cursor: default
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    box-sizing: border-box
    -moz-box-sizing: border-box
    &:hover
      border-width: 2px
      border-color: green
    &:active
      background-color: lightgray
    border-radius: 10px
    font-size: 150%
    color: green
    /*float: right
    position: absolute
    /*visibility: hidden
    /*display: none
    /*block
    border: solid 1px gray
    width: $button-size
    height: $button-size
    line-height: $button-size
    text-align: center
  .hili
    text-decoration: underline
    /*font-weight: bold
